{
  "extends": "airbnb/base",
  "rules" : {
    "semi": [2, "never"],
    "no-unused-vars": [2, {"args": "after-used", "argsIgnorePattern": "^_"}]
  },
  "globals": {
    "riot": true,
    "opts": true,
    "require": true,
    "module": true,
    "Firebase": true
  }
}
