<news-view>
  <div class="view news-view" class={loading: !items.length}>
    <ul>
      <li class="item" each={ item, i in items } track-by="id">
        <item data={ item } index={ (parent.page - 1) * 30 + i + 1} ></item>
      </li>
    </ul>
    <div class="nav" show={ items.length }>
      <a if={ page > 1 } href="#news/{ page - 1 }">&lt; prev</a>
      <a if={ page < 4 } href="#news/{ page - -1 }">more...</a>
    </div>
  </div>
  <script>
  require('../components/item.html')
  var store = require('../store')
  var self = this
  self.page = opts.data
  self.items = []

  fetchNews() {
    store.fetchItemsByPage(self.page, function (items) {
      self.items = items
      self.displayPage = self.page
      self.update()
    })
  }

  self.on('mount', function() {
    self.fetchNews()
    store.on('update', self.fetchNews)
  })

  self.on('unmount', function() {
    store.removeListener('update', self.fetchNews)
  })
  </script>
</news-view>
